
body{
background-image: url(https://images.pexels.com/photos/149988/pexels-photo-149988.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.container {
  margin-top: 10%;
  text-align: center;
  color: white;

}

h1 {
  font-family: 'Oswald', sans-serif;
}

#quoteDisplay {
  width: 70%;
  margin-left: 15%;
  margin-top: 10%;
  font-size: 25px;
  font-family: 'Sedgwick Ave Display', cursive;
  color: white;

}

button:hover {
  transition: 1s;
}
button:active {
transform: translateY(4px);
}
