
body{
background-image: url(https://images.pexels.com/photos/149988/pexels-photo-149988.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}


.container {
  margin-top: 10%;
  text-align: center;
  color: white;

}

h1 {
  font-family: 'Cinzel', serif;
}

#quoteDisplay {
  width: 70%;
  margin-left: 15%;
  margin-top: 5%;
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  color: white;

}

#btn {
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
}
